@model CuaHangNongSan.Models.User

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete User</h2>

<p>Bạn có chắc chắn muốn xóa người dùng sau?</p>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.id</dd>

        <dt class="col-sm-2">Tên người dùng</dt>
        <dd class="col-sm-10">@Model.userName</dd>

        <dt class="col-sm-2">Họ và tên</dt>
        <dd class="col-sm-10">@Model.name</dd>

        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">@Model.address</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.email</dd>

        <dt class="col-sm-2">Số điện thoại</dt>
        <dd class="col-sm-10">@Model.phoneNumber</dd>

        <dt class="col-sm-2">Vai trò</dt>
        <dd class="col-sm-10">@Model.role</dd>
    </dl>

    @using (Html.BeginForm("DeleteUser", "User", new { id = Model.id, area = "Admin" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                @Html.ActionLink("Quay lại", "user", "Home", new { area = "Admin" }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
