@model CuaHangNongSan.Models.User

@{
    ViewBag.Title = "Register";
    //Layout = "~/Views/Shared/_Layout.cshtml"; // Thay đổi đường dẫn tới layout của bạn
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Responsive Registration Form | CodingLab</title>
    <link rel="stylesheet" href="~/css/styleRe.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .text-danger {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form>
                            <div class="user-details">
                                <div class="input-box">
                                    <label class="control-label">Tên người dùng</label>
                                    @Html.TextBoxFor(model => model.userName, new { @class = "form-control", placeholder = "Enter username" })
                                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Password</label>
                                    @Html.PasswordFor(model => model.pass, new { @class = "form-control", placeholder = "Enter password" })
                                    @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Confirm Password</label>
                                    @Html.PasswordFor(model => model.pass, new { @class = "form-control", placeholder = "Enter password" })
                                    @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Tên đầy đủ</label>
                                    @Html.TextBoxFor(model => model.name, new { @class = "form-control", placeholder = "Enter full name" })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Địa chỉ</label>
                                    @Html.TextBoxFor(model => model.address, new { @class = "form-control", placeholder = "Enter address detail" })
                                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Thành phố</label>
                                    @Html.TextBoxFor(model => model.addressdetail, new { @class = "form-control", placeholder = "Enter address" })
                                    @Html.ValidationMessageFor(model => model.addressdetail, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Email</label>
                                    @Html.TextBoxFor(model => model.email, new { @class = "form-control", placeholder = "Enter email" })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Số điện thoại</label>
                                    @Html.TextBoxFor(model => model.phoneNumber, new { @class = "form-control", placeholder = "Enter phone number" })
                                    @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="button">
                                <input type="submit" value="Register" class="btn btn-primary btn-block">
                            </div>
                        </form>
           
            }
          
        </div>
    </div>
</body>
</html>
